<div class="container">
  <div class="section">
    
    <div class="container">
      <br><br>
      <h2 class="header center orange-text">Zaitt</h2>
      <div class="row center">
        <h5 class="header col s12 light">Busque e liste todas as issues de um reposit칩rio aqui</h5>
      </div>
      <br><br>
    </div>
    <div class="row center">
      <%= link_to "Inicie Agora", issues_path, class:"btn-large waves-effect waves-light orange" %>
    </div>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">R치pido e pr치tico</h5>
 
          <p class="light"></p>
        </div>
      </div>
 
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Focado em User Experience</h5>
 
          <p class="light"></p>
        </div>
      </div>
 
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">F치cil de utilizar</h5>
 
          <p class="light"></p>
        </div>
      </div>
    </div>
 
  </div>
</div>
 